<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @todo.title %>
</p>

<p>
  <b>Description:</b>
  <%= @todo.description %>
</p>

<p>
  <b>Status:</b>
  <%= @todo.status  %>
  <%= link_to "Toggle status", toggle_status_path(:id => @todo.id) %>
</p>

<p>
  <b>Due:</b>
  <%= @todo.due %>
</p>

<p>
  <b>Assignee:</b>
  <% if @todo.user %>
     <%= @todo.user.login%> is working on it! 
  <% elsif @current_user %>
     <%=link_to "I'll fix it!", assign_path(:id => @todo.id) %> 
 <% else %>
    <%=link_to "Login", login_path %> if you want to do this task!
<% end %>
 
</p>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
